<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  label="Cambiar nombre"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-help"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, ex,
  architecto possimus dolorum aliquam animi dolor exercitationem perspiciatis
  eum maxime voluptatum, ut amet iste. Est libero labore officiis facere nihil!
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>